@charset "utf-8";
/* CSS Document */
.photo
{
	display:block;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	padding-top:10px;
	
}
#content
{
	padding:30px;
	font-size: 2em;
	text-align: center;
	font-weight:500;
	border-top:2px solid black;
}
.para
{
	padding:30px 60px 30px 60px;
	font-size: 1em;
	text-align: center;
	font-weight:500;

}
