@charset "utf-8";
/* CSS Document */
.photo
{
	display:block;
	width:40%;
	margin-left: auto;
	margin-right: auto;
	padding-top:30px;
	
}
#content
{
	padding:30px;
	font-size: 2em;
	text-align: center;
	font-weight:500;
	border:1px solid white;
}
